.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.219); 
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.219);
    padding-bottom: 2px;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarIcons{
    position: relative;
    display: flex;
}

.topIconBadge{
    position: absolute;
}

.topbarIcon{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: blueviolet;
}

.topRight{
    display: flex;
    align-items: center;
}

.topAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}